@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3b3b3;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b3b3b3;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #b3b3b3;
}

body {
  background-image: url('https://i.imgur.com/Ij90P0z.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 2000px auto;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.everything {
  margin-top: 80px;
}

#formBox {
  background-image: url('https://i.imgur.com/SvOsXcq.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px auto;
  height: 650px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-border {
  position: relative;
  margin-right: 7px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 1.8px solid white;
  border-radius: 17px;
  width: 350px;
  height: 48px;
  transition: box-shadow 0.3s;
  background-color: white;
}

.input-border:hover {
  box-shadow: 0 0 10px white;
}

.input-field {
  position: absolute;
  left: 35px;
  top: 9px;
  width: 275px;
  outline: none;
  border: none;
  background-color: white;

  font-family: 'Montserrat', sans-serif;
  font-size: 16pt;
  color: black;
}

.buttonDiv {
  margin-right: 7px;
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  padding-bottom: 12px;
  padding-top: 10px;
  border: 2.2px solid white;
  border-radius: 17px;
  font-size: 16pt;
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 150px;
  text-align: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

.buttons:hover {
  background-color: white;
  color: black;
}

.message {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
}

.navBtn {
  background-color: black;
  color: white;
  border: 2.2px solid white;
  border-radius: 17px;
  transition: background-color 0.3s;
  cursor: pointer;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100px;
  text-align: center;
  margin: 3px;
}

.navBtn:hover {
  background-color: white;
  color: black;
}
.navBtnText {
  font-family: 'Montserrat', sans-serif;
}